# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.sqlite3
*.db
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & IDE
.env
.DS_Store
.idea/
.vscode/
*.swp
